<!-- Team section Start -->
<section id="team" class="section">
  <div class="container">

    <div class="section-header">
      <h2 class="section-title">Notre équipe</h2>
      <span>équipe</span>
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <!--permet de centrer les deux collaborateurs-->
            </div>
          </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <img src="../assets/essence/img/team/nad.jpg" alt="">
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Nadège Tokou</h4>
              <p>Juriste en droit des affaires et fiscalité</p>
              <ul class="social-list">
                <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li class="linkedin"><a
                    href="https://www.linkedin.com/in/sita-ange-nad%C3%A8ge-tokou-08a6ba146/?originalSubdomain=fr"><i
                      class="lni-linkedin-fill"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <img src="../assets/essence/img/team/team3.png" alt="">
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Nicolas Rouge</h4>
              <p>Expert en nouvelles technologies dans le secteur bancaire</p>
              <ul class="social-list">
                <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/nicolas-rouge777/"><i class="lni-linkedin-fill"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="single-team">
                <img src="../assets/essence/img/team/team2.png" alt="">
                <div class="team-details">
                  <div class="team-inner">
                    <h4 class="team-title">Luke Chesser</h4>
                    <p>Marketing Executive</p>
                    <ul class="social-list">
                      <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                      <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                      <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                      <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="single-team">
                <img src="../assets/essence/img/team/team4.png" alt="">
                <div class="team-details">
                  <div class="team-inner">
                    <h4 class="team-title">Annie Spratt</h4>
                    <p>Graphic Designer</p>
                    <ul class="social-list">
                      <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                      <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                      <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                      <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>-->
    </div>
  </div>
</section>

<!-- Team section End -->


<!-- Portfolio Section -->
<section id="portfolios" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Nos travaux</h2>
      <span>Works</span>
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center">
          <a class="filter active btn btn-common btn-effect" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".design">
            Design
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".development">
            Development
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".print">
            Print
          </a>
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>
    </div>

    <!-- Portfolio Recent Projects -->
    <div id="portfolios" class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 mix development print">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="../assets/essence/img/portfolio/img-1.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="../assets/essence/img/portfolio/img-1.jpg"><i
                        class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix design print">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="../assets/essence/img/portfolio/img-2.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="../assets/essence/img/portfolio/img-2.jpg"><i
                        class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="../assets/essence/img/portfolio/img-3.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="../assets/essence/img/portfolio/img-3.jpg"><i
                        class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development design">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="../assets/essence/img/portfolio/img-4.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="../assets/essence/img/portfolio/img-4.jpg"><i
                        class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="../assets/essence/img/portfolio/img-5.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="../assets/essence/img/portfolio/img-5.jpg"><i
                        class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix print design">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="../assets/essence/img/portfolio/img-6.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="../assets/essence/img/portfolio/img-6.jpg"><i
                        class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->