<!--Main Navigation-->
<nav id="nav-main">
    <ul>
        <li>
            <a href="/home#banner">Home</a>
        </li>
        <li>
            <a href="/home#about">About</a>
        </li>
        <li>
            <a href="/home#gallery">Gallery</a>
        </li>
        <li>
            <a href="/home#services">Services</a>
        </li>
        <li>
            <a href="/home#testimonials">Testimonials</a>
        </li>
        <li>
            <a href="/home#clients">Clients</a>
        </li>
        <li>
            <a href="/home#pricing">Pricing</a>
        </li>
    </ul>
</nav>
<!--End of Main Navigation-->
