
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>Legal Tech</h1>
                <h2>Nous sommes baignés dans un monde en plein essor technologique. Notre site a pour vocation de vous donner 
                    des outils de réflexion conçis en lien avec les actualités juridiques et numériques.</h2>
            </div>
            <!--Call to Action-->
            <a href="#" class="button">START CREATING TODAY</a>
            <!--End Call to Action-->
           

        </div>

    </div>
    <!--End of Row-->