      <!-- Clients Section -->
      <div id="client" class="section">
            <!-- Container Ends -->
            <div class="container">
              <!-- Row and Scroller Wrapper Starts -->
              <div class="row" id="clients-scroller">
                <div class="client-item-wrapper">
                  <img src="../assets/essence/img/clients/img1.png" alt="">
                </div>
                <div class="client-item-wrapper">
                  <img src="../assets/essence/img/clients/img2.png" alt="">
                </div>
                <div class="client-item-wrapper">
                  <img src="../assets/essence/img/clients/img3.png" alt="">
                </div>
                <div class="client-item-wrapper">
                  <img src="../assets/essence/img/clients/img4.png" alt="">
                </div>
                <div class="client-item-wrapper">
                  <img src="../assets/essence/img/clients/img5.png" alt="">
                </div>
                <div class="client-item-wrapper">
                  <img src="../assets/essence/img/clients/img6.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- Client Section End --> 