<!-- Start Pricing Table Section -->
<div id="pricing" class="section pricing-section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Pricing Plans</h2>
        <span>Pricing</span>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
      </div>

      <div class="row pricing-tables">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="pricing-table">
            <div class="pricing-details">
              <h2>Starter Plan</h2>
              <div class="price">49$ <span>/mo</span></div>
              <ul>
                <li>Consectetur adipiscing</li>
                <li>Nunc luctus nulla et tellus</li>
                <li>Suspendisse quis metus</li>
                <li>Vestibul varius fermentum erat</li>
                <li> - </li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common btn-effect">Get Plan</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="pricing-table pricing-big">
            <div class="pricing-details">
              <h2>Popular Plan</h2>
              <div class="price">99$ <span>/mo</span></div>
              <ul>
                <li>Consectetur adipiscing</li>
                <li>Nunc luctus nulla et tellus</li>
                <li>Suspendisse quis metus</li>
                <li>Vestibul varius fermentum erat</li>
                <li> - </li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common btn-effect">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="pricing-table">
            <div class="pricing-details">
              <h2>Premium Plan</h2>
              <div class="price">199$ <span>/mo</span></div>
              <ul>
                <li>Consectetur adipiscing</li>
                <li>Nunc luctus nulla et tellus</li>
                <li>Suspendisse quis metus</li>
                <li>Vestibul varius fermentum erat</li>
                <li>Suspendisse quis metus</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common btn-effect">Buy Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Pricing Table Section -->