<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container-fluid">

    <div class="section-header">
      <h2 class="section-title">Articles</h2>
      <span>Blogs</span>
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
    </div>

    <!--contient les deux colonnes-->
    <div class="row justify-content-center">

      <!-- colonne catégorie -->
      <!-- Sidebar Widgets Column -->
      <div class="col-md-3">

        <h1>Filter par catégorie</h1>
        <!-- formulaire catégorie : https://mdbootstrap.com/docs/jquery/forms/select/ -->
        <select class="browser-default custom-select custom-select-lg mb-3" [(ngModel)]="category"
          (change)="filtrarData(category)">
          <option value="run">Run</option>
          <option value="scale">Scale</option>
          <option value="lati">Lati</option>
        </select>

        <button type="button" class="btn btn-secondary" *ngIf="category" (click)="removeFilter('category')">
          Remove filter
        </button>

      </div>
      <!-- /.div class="col-md-4" -->


      <!-- colonne articles -->
      <div class="col-lg-8">

        <div class="row">
          <div class="row justify-content-center">

            <div class="col col-lg-9 col-md-6 col-xs-12 blog-item" *ngFor="let post of posts | async">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img" class="float-left">
                  <a routerLink="{{post.id}}">
                    <img src="{{post.image}}" alt="{{post.title}}" >
                  </a>
                </div>
                <div class="blog-item-text" >
                   <h3><span class="badge badge-primary">{{post.category}}</span></h3>
                   
                  <h2><a routerLink="{{post.id}}">{{post.title}}</a></h2>
                  <div class="date"><i class="lni-calendar"></i>{{post.published.toDate() | date: 'fullDate'}}</div>
                  <p>Par {{post.author}}</p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo 
                    saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore? [...]
                  </p>
                  <div class="meta-tags" *ngIf="auth.currentUserId === post.authorId">
                    <button mat-icon-button (click)="delete(post.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <div class="meta-tags">
                    <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                    <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                    <span><a href="#"><i class="lni-reply"></i> 332</a></span>
                  </div>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>

          </div>
          <!-- /.row  -->
        </div>
        <!-- center -->
      </div>
      <!-- /.div class="col-lg-8" -->


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</section>
<!-- blog Section End -->