<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container-fluid">

    <div class="section-header">
      <h2 class="section-title">Blogs</h2>
      <span>Blogs</span>
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
    </div>

    <!--contient les deux colonnes-->
    <div class="row">

      <!-- colonne catégorie -->
      <!-- Sidebar Widgets Column -->
      <div class="col-md-3">

        <!-- formulaire catégorie : https://mdbootstrap.com/docs/jquery/forms/select/ -->
        <select class="browser-default custom-select custom-select-lg mb-3" title="title" name="name"
          [(ngModel)]="category" (change)="filtrarData('bloblo')">
          <option value="bloblo">Blockchain</option>
          <option value="bloblo">Juridique</option>
          <option value="bloblo">Bitcoin</option>
          <option value="bloblo">Nouvelles technologies</option>
        </select>

        <button *ngIf="category" (click)="removeFilter('category')">
          Remove filter
        </button>

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Prochainement => Recherche</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">OK</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Prochainement => liste des catégories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.div class="col-md-4" -->


      <!-- colonne articles -->
      <div class="col-lg-8">

        <div class="row">
            <div class="row justify-content-center">
             
          <div class="col col-lg-5 col-md-6 col-xs-12 blog-item" *ngFor="let post of posts | async">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a routerLink="{{post.id}}">
                  <img src="{{post.image}}" alt="{{post.title}}">
                </a>
              </div>
              <div class="blog-item-text">
                <div class="date"><i class="lni-calendar"></i>{{post.published.toDate() | date: 'fullDate'}}</div>
                <h3><a routerLink="{{post.id}}">{{post.title}}</a></h3>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error
                    quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae
                    laborum minus inventore?</small></p>
                <p>
                  <small>By {{post.author}} </small>
                </p>
                <div class="meta-tags" *ngIf="auth.currentUserId === post.authorId">
                  <button mat-icon-button (click)="delete(post.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="meta-tags">
                  <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                  <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                  <span><a href="#"><i class="lni-reply"></i> 332</a></span>
                </div>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-5 col-md-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="../assets/essence/img/blog/img1.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
                <h3><a href="single-post.html">10 Tips to Design a High-converting Landing Page</a></h3>
                <div class="meta-tags">
                  <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                  <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                  <span><a href="#"><i class="lni-reply"></i> 332</a></span>
                </div>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-5 col-md-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="../assets/essence/img/blog/img2.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
                <h3><a href="single-post.html">How to Design a Website For Your App</a></h3>
                <div class="meta-tags">
                  <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                  <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                  <span><a href="#"><i class="lni-reply"></i> 332</a></span>
                </div>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-5 col-md-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="../assets/essence/img/blog/img3.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
                <h3><a href="single-post.html">7 Secretes to Optimize Loading Speed of Your Site</a></h3>
                <div class="meta-tags">
                  <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                  <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                  <span><a href="#"><i class="lni-reply"></i> 332</a></span>
                </div>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

        </div>
        <!-- /.row  -->
      </div>
       <!-- center -->
      </div>
      <!-- /.div class="col-lg-8" -->


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</section>
<!-- blog Section End -->